<%- model_class = ResultHistory -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:testResultFirst) %></th>
      <th><%= model_class.human_attribute_name(:testResultLast) %></th>
      <th><%= model_class.human_attribute_name(:testStartTime) %></th>
      <th><%= model_class.human_attribute_name(:testEndTime) %></th>
      <th><%= model_class.human_attribute_name(:testTypeId) %></th>
      <th><%= model_class.human_attribute_name(:created_id) %></th>
      <th><%= model_class.human_attribute_name(:updated_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @result_histories.each do |result_history| %>
      <tr>
        <td><%= link_to result_history.id, result_history_path(result_history) %></td>
        <td><%= result_history.testResultFirst %></td>
        <td><%= result_history.testResultLast %></td>
        <td><%= result_history.testStartTime %></td>
        <td><%= result_history.testEndTime %></td>
        <td><%= result_history.testTypeId %></td>
        <td><%= result_history.created_id %></td>
        <td><%= result_history.updated_id %></td>
        <td><%=l result_history.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      result_history_path(result_history), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_result_history_path(result_history), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      result_history_path(result_history),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_result_history_path,
            :class => 'btn btn-primary' %>
