<div class="answer_result">せいせき：<span class="answer_result_num"><%= @result_history.testResultFirst%></span></div>
<ul class="list-group">
<% @result_his_details.each do |result_his_detail| %>
    <li class="list-group-item list_detail question_text <%= result_his_detail.testSeq < 10 ? "question_seq_single" : "" %> <%= result_his_detail.testFirstAnswer == result_his_detail.expectAnswer ? "list-group-item-success" : "list-group-item-danger" %>">
          <%= result_his_detail.testSeq.to_s+" : "+result_his_detail.testQuestion+" = "+result_his_detail.testFirstAnswer %>
    </li>
<% end %>
</ul> 
<div>
    <a href="/result_historys/showHistDetailList/<%= @result_history.created_at.strftime('%Y%m%d')%>" class="btn btn-primary btn-lg" role="button">もどる</a>
    <a href="/users/showLogin/<%= session[:user_id]%>" class="btn btn-primary btn-lg" role="button">しゅうりょう</a>
</div>